<div id="card-parent-container" class="card-items">
  <div id="card-item-1" class="card-item-header">
    <fa-icon [icon]="iconDict[contract.icon]"></fa-icon>
    <h4>{{contract.title}}</h4>
  </div>
  <div id="card-item-2">
    <div *ngFor="let item of contract.items" class="card-item-content">
      <label>{{item.label}} :</label>
      <strong style="white-space: pre-wrap;">{{item.name}}</strong>
    </div>
  </div>
  <div id="card-item-3" [class.last-button]="isLastContract">
    <fa-icon [icon]="iconDict['pencil']"></fa-icon>
    <button class="primary"
            (click)="modifyContract(contract.title)">Modifier</button>
  </div>
</div>
