header, footer {
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--primary-color);
  padding: .5rem 1rem;

  .nav {
    display: flex;
    padding: 0 1.25rem;
    justify-content: center;

    .nav-link {
      color: var(--secondary-color);
      padding: .5rem 1rem;

      &:hover {
        color: white;
      }
    }
  }
}

header {
  position: sticky;
  top: 0;

  .nav {
    justify-content: flex-start;
  }
}

section {
  display: flex;
  justify-content: center;
}
