* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --primary-color: #308276;
  --secondary-color: #c1dad6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
  --text-color: #071621;
  --icon-color: #004652;
}

//TODO remove or modify this
button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
