* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 20px auto;
}

:root {
  --primary-color: #308276;
  --secondary-color: #c1dad6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
  --text-color: #071621;
  --icon-color: #004652;
}

fa-icon {
  color: var(--icon-color);
}

button.primary {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}
